@use './global/' as *;
@use "sass:math";

// globalはその他のフォルダで読み込むだけなのでここで読み込む必要はない。
@use "./foundation"; 
@use './layout';
@use './component';
@use './project';
@use './utility';
@use './external';


// SPAのCSSを読み込み
// htmlをフロックスに
// Not Equalのcssを読み込む
// uiフォルダの役立つutilityのcssなどを読み込む


/*******************************************************



********************************************************/
// @use './global/' as *;


/*******************************************************

data属性

********************************************************/
// @use './global/' as *;


[data-transition='container'] {
  transform: translateZ(0);
  backface-visibility: hidden;
}



// ✅ canvas

.c-canvas{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

// ✅ svg
.c-cursor{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  pointer-events: none;
  
  opacity: 0;
  // visibility: hidden;
  transition: opacity .3s ease;
}

.c-cursor.is-visible{
  opacity: 1;
  // visibility: visible;
  // transition: opacity .3s ease;
}

.disable-hover{
  pointer-events: none;

  & .c-cursor{
    opacity: 0 !important;
  }
}

// ✅ webgl
.fallback{
  width: 100%;
  max-width: 500px;
  height: 300px;
}


