/*******************************************************

.l-about

********************************************************/
@use '../global' as *;

.l-about{
  margin-top: rem(78);

  @include mq('tab'){
    margin-top: rem(80);
  }
  @include mq('pc'){
    margin-top: rem(120);
  }
}
